* {
    box-sizing: border-box;
}

html,body{
	min-height:100%;
	/*max-width: 960px; is the entire content area including borders for the header and footer?*/
	position:relative;
	background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
	position:relative;
	height: 70px;
	background-color:#ffffff;
	border-bottom: 2px solid #cccccc;
	width:100%;
}

#name {
	/*position:absolute;*/
	float:left;
	margin-left:9.7%;
	background-color: #4aaaa5;
	color:white;
	/*top:0;
	left: 129px;*/	
	height:10px;		
	padding:20px 20px 48px 20px;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1px;
}

nav {
	/*position: absolute;*/
	float:left;
	margin-left:31%;
	padding:1%;
	/*top:15%;
	right: 19%;*/
}
.nav {
	float:left;
	padding: 5px;
}

.portfolio {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-top: none;
	border-bottom: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
 }

#container {
	clear:both;
	background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position:relative;
	top:30px;
	height:100%;
	width:100%;
}

section {
	float:left;
	margin-left:9.5%;
	margin-right:1.5%;
	margin-bottom:5%;
	height:auto;
	width: 48%;
	border:2px solid #dddddd;
	background-color: #ffffff;
}

form {
	font-weight: bold;
	line-height: 1.5em;
	padding: 0px 10px 0px 10px;	
}

.input {
	width:100%;
	border:1px solid #dddddd;
}

textarea {
	width:100%;
}

input.input {
	height:30px;
}

#button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia, Times, "Times New Roman", serif;
}
.section {
	position:relative;
}

.text {
	position:relative;
	left:11px;
	width: auto;
    margin: 2% 4% 4% 1%;
    display: inline-block;
}

.name {
	position:absolute;
	left:0;
	top:65%;
	width:100%;
	padding: 7% 0 7% 0;
	text-align:center;
	font-size:1em;
	background-color: #4aaaa5;
	color:white;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.gallery {
	width:280px;
	height:196px;
}

#profile {
	float:left;
	max-height:100%;
	max-width: 100%;
}

#about {
	width:auto;
	height:auto;
	line-height: 2em;
}

#hr-1 {
	border:none;
	height: 2px;
	color:#cccccc;
	background-color: #cccccc;
}

aside {
	position: fixed;
	/*float:left;*/
	right: 15%;
	margin-left:1.5%;
	width: 20%;
	background-color:white;
	border:2px solid #dddddd;
	overflow:auto;
}

aside, section {
	padding: 6px;
}

#icons {
	margin-left: 9%;
}

.icon {
	width: 30%;
	height: 30%;
}

.overflow {
	width:27%;
	height:24%;
	padding-bottom:1%;
}

#hr-2 {
	border:none;
	height: 1px;
	color:#cccccc;
	background-color: #cccccc;
}

h2, #hr-1, #hr-2, #profile, #about {
	margin:13px;
}

h2, h3, input {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1px;
}

h3 {
	text-align: center;
    padding: 23px 0px 5px 0px;
    font-size: 1.1em;
	font-weight:bold;
	letter-spacing: 1px;
}

#about, .nav, footer, a, form {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p, .nav, a, form {
	color: #777777;
}

a {
	text-decoration: none;
}


.footer {	
	position:relative;
	border-top:5px solid #4aaaa5;
	margin-top:-20px;
	height: 20px;
	bottom:0;
	padding:40px;
	width:100%;
	text-align: center;
	background-color:#666666;
	color: #ffffff;
}

.gallery-link {
	color: #ffffff;
}

@media only screen and (max-width: 980px) {
	
	#container, #clearfix, header, footer,body {
	width:auto;
	}

	nav	{
		float:left;
		margin-left:19%;
		padding:1%;
	}

	aside {
		width: 21%;
	}

	#profile, #about {
		display:block;
		clear:left;
	}

	#profile {
		padding:0% 15%;
	}	
}

@media only screen and (max-width: 768px) {

	#container, #clearfix, header, footer,body {
		width:auto;
		padding: 0% 0%;
	}

	#container {
		padding: 0% 2%;
	}

	#name {
		margin-left: 2%;
	}

	nav {
		margin-left: 30%;
	}

	section {
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 5%;
		width: 100%;
	}

	#profile {
		margin-left: 0%;
	}

	.text {
		left: 30px;
		margin: 2% 6% 4% 1%;
	}

	aside {
		margin-bottom: 20%;
		margin-right: 0%;
		margin-left: 0%;
		width: 100%;
	}

	#icons {
		margin-left:2%;
	}

	.icon {
    width: 10%;
    height: 10%;
	}

	.overflow {
    width: 9%;
    height: 10%;
    padding-bottom: 2.5px;
	}

	h3 {
		padding: 23px 0px 5px 10px;
		text-align: left;
	}
}

@media only screen and (max-width: 640px) and (orientation:portrait) {

	#container, #clearfix, header, footer,body {
		width:auto;
	}

	/*#container {
	padding: 0% 0%;
	}*/


	header {
		position:static
	}

	#name {
		margin-left:0%;
		width: 100%;
		text-align: center;
	}

	nav {
		width: 100%;
		margin-left: 0%;
		border:2px solid #dddddd;
		background-color: #ffffff;
	}

	.nav {
		margin-left:0%;
		margin-right:0%;
		padding: 5px;
		width:100%;
	}

	div.nav.about,div.nav.portfolio, div.nav.contact {
		padding: 0% 10%;
		width:33.3%;
	}

	.text {
		width: 86%;
	}

	.gallery {
		width: 100%;
		height: 100%;
	}

	.name {
		max-width: 100%;
	}
}

@media only screen and (max-width: 640px) and (orientation: landscape) {

	#container, #clearfix, header, footer,body {
		width:auto;
	}

	/*#container {
	padding: 0% 0%;
	}*/


	header {
		position:static
	}

	#name {
		margin-left:0%;
		width: 100%;
		text-align: center;
	}

	nav {
		width: 100%;
		margin-left: 0%;
		border:2px solid #dddddd;
		background-color: #ffffff;
	}

	.nav {
		margin-left:0%;
		margin-right:0%;
		padding: 5px;
		width:100%;
	}

	div.nav.about,div.nav.portfolio, div.nav.contact {
		padding: 0% 10%;
		width:33.3%;
	}

	#profile {
		margin-left:10%;
	}

	.text {
		width: 86%;
	}

	.gallery {
		width: 100%;
		height: 100%;
	}

	.name {
		max-width: 100%;
	}
}


/* resize all content so that it only fills up 960px*/
/*use media queries to add a breakpoint. for example, set certain element widths to 100% when screen reaches certain width./
/* make image gallery responsive - https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */




