/* Style the navbar */
* {
    box-sizing: border-box;
}

body,html {
    height: 100%;
    position:relative;
    font-family: 'Work Sans', sans-serif; /*'Rubik', sans-serif; */
    background-color: #000;
    color:#fff;
    /* font-family: 'Work Sans', sans-serif; */
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}
p {
    line-height: 2em;
    margin: 1%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#container {
    clear:both;
    position:relative;
    height:100%;
	width:100%;
}
section {
    position:relative;
    margin:auto;
    text-align: center;
    padding: 5% 10%;
    overflow: auto;
}
.title {
    float:right;
}
.tag { 
    width: 100%;
    padding:12px 24px;
    letter-spacing: 10px;
    background-color: #000;
    color: #fff;
    text-align:center;
    margin: 10px 10px;
}
/* section .tag {
    margin:0
} */
#home >.hero-text {
    left: 25%;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div-skills {
    float: left;
    display: block;
    text-align: center;
    padding: 0 8px;
    width: 33.33333%;
}
.gallery {
    width:480px;height:248px;
	/* width: 100%;
	min-height: 100%; */
}
.gallery-link {
	color: #ffffff;
}
.name {
    position:absolute;
    letter-spacing: 10px;
	left:0;
	top:60%;
	width:100%;
	padding: 1% 0;
	text-align:center;
	font-size:1em;
	background-color: #4aaaa5;
	color:white;
}
a {
	text-decoration: none;
}
.text {
	position:relative;
	width: auto;
    margin: 1%;
    display: inline-block;
    /* cursor: pointer; */
}
.text:hover .portfolio-content {
    opacity:1;
    overflow: auto;
    /* display:block; */
}
.text:hover .portfolio-header {
    top:0%;
    transition: .5s ease;
}

.portfolio-content {
    /* display: none; */
    position:absolute;
    top: 20%;
    height:80%;
    opacity:0;
    transition: 1s ease;
    width:100%;
	padding: 1%;
	text-align:center;
	font-size:1em;
	background-color: white;
	color:#4aaaa5;
}
.bgimg-1,.bgimg-2,.bgimg-3 {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 {
    /* The image used */
    background-image: url('../images/headshot_noir.jpg');
    /* Full height */
    height: 94%; 
}
.bgimg-2 {
    background-image: url("../images/small_fall.jpg");
    min-height: 400px;
}
.bgimg-3 {
    background-image: url("../images/range.jpg");
    min-height: 400px;
}
#profile {
    height:auto;
    max-width: 100%;
    /* border-radius: 50% */
}
.opacity {
    opacity: 0.75;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    color:#fff;
    z-index:100;
}
  /* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.topNav#navbar .hamb {
    display: none;
}
  /* Page content */
.content {
    padding: 16px;
}
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
} 
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
#icons>a {
    float: left;
    display: block;
    text-align: center;
    padding: 0 8px;
    width: 33.33333%;
}

#icons #github {
    color: #6e5494;
}

#icons #overflow {
    color: #f48024;
}
a:hover {
    background: #4aaaa5;
    opacity: 0.8;
} 
#icons a:hover {
    background: rgba(0, 0, 0, 0.0)
}
.footer {
    text-align: center;
}
#btn-scroll {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0,0,0,0.0); /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
     /* Rounded corners */
}
.button {
    background-color: #fff;; /* Green */
    border: none;
    color: #4aaaa5;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4aaaa5;
    color: white;
}
@media only screen and (max-width: 1024px) {
    /* .parallax {
        background-attachment: scroll;
    } */
    #name.tag {
        transform:scale(0.5,0.5);
    }
}

@media only screen and (max-width: 640px) and (orientation:portrait) {
    #navbar div:not(:last-child) {display: none;}
    .topNav#navbar .hamb {
      float: left;
      display: block;
    }
    .topNav#navbar.responsive {
        position: fixed;
        top:0;
        width:100%
    }
    .topNav#navbar.responsive .hamb {
      position: fixed;
      right: 0;
      top: 0;
    }
    .topNav#navbar.responsive div.nav {
      float: none;
      display: flex;
      text-align: left;
    }
    .div-skills {
        width: 100%;
    }
	.text {
        width: 100%;
        margin: 5% 0%;
	}

	.gallery {
		width: 100%;
		height: 100%;
    }
    .name {
		max-width: 100%;
	}
}
/* 
https://www.w3schools.com/howto/howto_css_fixed_menu.asp
https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
https://www.w3schools.com/jsref/prop_element_scrolltop.asp */